.editable {
    width: 100%;
}

.editable_display {
    padding: 6px 12px;
    border-radius: 3px;
    background-color: #eee;
    color: #000;
    cursor: pointer;
    width: 100%;
    transition: 200ms;
    display: flex;
    justify-content: center;
}

.editable_display:hover {
    background-color: #ddd;
}

.editable_edit {
    display: flex;
    flex-direction: column;
    gap: 04px;
}

.editable_edit input {
    border: 2px solid #227fb5;
    border-radius: 5px;
    outline: none;
    font-size: 1rem;
    padding: 8px;
}

.editable_edit_footer {
    display: flex;
    align-items: center;
}

.editable_edit_footer button {
    cursor: pointer;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    outline: none;
    background-color: #177fbc;
    color: #fff;
    border: none;
    transition: 100ms ease;
    padding: 10px 30px;
    font-size: medium;
    min-width: 80%;
}

.editable_edit_footer button:hover {
    background-color: #0477ba;
}

.editable_edit_footer button:active {
    transform: translateY(2px);
}

.editable_edit_footer .closeIcon {
    cursor: pointer;
    height: 30px;
    font-weight: bold;
    color: whitesmoke;
    min-height: 10px;
}

.padding-adder {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4.4px 5px;
    background-color: rgb(222, 81, 81);
    border: none;
    transition: 100ms ease;
    min-width: 20%;
}

.padding-adder:hover {
    background-color: rgb(193, 36, 36);
}