.editable {
    width: 100%;
}

.editable_display {
    padding: 6px 12px;
    border-radius: 3px;
    background-color: #eee;
    color: #000;
    cursor: pointer;
    width: 100%;
    transition: 200ms;
    display: flex;
    justify-content: center;
}

.editable_display:hover {
    background-color: #ddd;
}

.editable_edit {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.editable_edit input {
    border: 2px solid #0079bf;
    border-radius: 5px;
    outline: none;
    font-size: 1rem;
    padding: 8px;
}

.editable_edit_footer {
    display: flex;
    gap: 8px;
    align-items: center;
}

.editable_edit_footer button {
    cursor: pointer;
    border-radius: 5px;
    outline: none;
    background-color: #0079bf;
    color: #fff;
    border: none;
    transition: 100ms ease;
    padding: 10px 30px;
    font-size: medium;
    min-width: 85%;
}

.editable_edit_footer button:hover {
    background-color: #046daa;
}

.editable_edit_footer button:active {
    transform: translateY(2px);
}

.editable_edit_footer .closeIcon {
    cursor: pointer;
    height: 30px;
    font-weight: bold;
    color: whitesmoke;
    min-height: 10px;
}

.padding-adder {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    padding: 4px 5px;
    background-color: rgb(195, 67, 67);
    border: none;
    transition: 100ms ease;
}

.padding-adder:hover {
    background-color: rgb(151, 53, 53);
}