:root {
    --primary-color: #fff;
    --secondary-color: #c2efff;
    --bg-color: #0d0d15;
    --link-color: #82deff;
    --link-bgcolor: #222237;
    --link-underline: #c58af9;
    --link-bgcolor-hover: #363656;
    scroll-behavior: smooth;
}

::selection {
    /* background: #5269d0; */
    background: #2f4a69;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    transition-duration: 200ms;
    font-size: 15px;
}

body {
    letter-spacing: -.2px;
    background: var(--bg-color);
    color: var(--primary-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 20px;
}

.darkerText {
    color: var(--primary-color);
}

h1 {
    padding-top: 30px;
    font-size: 40px;
}

h2 {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 30px;
    color: var(--secondary-color);
}

header>a {
    border: none;
}

#activityImg {
    height: 40px;
    padding: 1px;
}

h3 {
    font-size: 20px;
    color: var(--secondary-color);
}

#working {
    height: 50px;
}

header,
main,
footer {
    max-width: 700px;
    margin: 0 auto;
    width: 100%;
}

p {
    font-size: 1.05em;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 14px;
}

.long-icon {
    height: 45px;
}

nav {
    display: flex;
    align-items: center;
    gap: 17px;
}

a {
    font-size: large;
    font-weight: 400;
    cursor: pointer;
    text-decoration: none;
    border-bottom: 2px solid var(--link-underline);
    color: inherit;
    text-underline-offset: var(--offset, 0.2em);
    transition: all 100ms;
    padding-bottom: 4px;
}

nav > a{
    padding: 4px 5px;
}

nav a:hover,
nav a:focus {
    border-bottom: 3px solid var(--link-underline);
}

main,
section,
.nameContainer {
    display: flex;
    flex-direction: column;
}

main {
    gap: 50px;
    padding-bottom: 100px;
}

section {
    gap: 20px;
}

.nameContainer {
    gap: 5px;
}

.statsContainer {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 10px;
}


.imgContainer>img {
    max-width: 200px;
    overflow: hidden;
}



.imgContainer img {
    border-radius: 100%;
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.stats {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.stats>div {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 8px;
}

.stats div i {
    font-size: 1.2em;
}

.date {
    padding: 5px 10px;
    border-radius: 8px;
    border: 1px solid var(--link-bgcolor-hover);
}

.calendar {
    height: 20px;
}

p>img {
    height: 30px;
}

.stats div div {
    display: grid;
    place-items: center;
    min-width: 40px;
}

.aboutMe {
    line-height: 1.75em;
    word-spacing: 1.75px;
    text-align: justify;
    text-justify: inter-word;
}


.right {
    height: 60px;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: end;
}

.right>a {
    border: none;
    height: 50px;
    width: 50px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--link-bgcolor);
    border-radius: 100%;

}

.right>a>img {
    height: 30px;
    border: none;
}

.right>a:hover {
    background-color: #363656;
}


.outreach {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    width: fit-content;
    margin-right: auto;
}

.outreach:hover {
    color: var(--link-color);
    border-bottom: 4px solid var(--link-underline);
}


#tech {
    font-family: Inter, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#tech td,
#tech th {
    border-radius: 3px;
    border: none;
    color: white;
    padding: 7px 20px;
    font-size: 16px;
}

#tech tr:nth-child(even) {
    background-color: #0d0d1b;
}

#tech tr:hover {
    background-color: rgb(18, 17, 35);
}

#tech th {
    background-color: #141420;
    font-size: 18px;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    color: white;
}

td>img {
    height: 30px;
}

tr th:first-child {
    width: 30%;
}

@media (max-width: 450px) {
    #tech th {
        font-size: 16px;
    }

    #tech td,
    #tech th {
        padding: 4px 8px;
    }

    #tech td {
        font-size: 14px;
    }

    tr th:first-child {
        width: 25%;
    }

    td>img {
        height: 27px;
    }

}

.projectContainer {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.headerText {
    margin-bottom: 24px;
}

.projectItem {
    display: flex;
    align-items: stretch;
    gap: 10px;
}

.projectItem div:first-child {
    display: flex;
    flex-direction: column;
    gap: 14px;
    line-height: 1.65em;
    flex: 1;
}

.projectLink {
    display: flex;
    gap: 5px;
    padding: 3px 5px;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
}

.projectLink:hover {
    border-bottom: 2.5px solid var(--link-underline);
}

.projectItem>div:last-child {
    aspect-ratio: 1/1;
    max-width: 30%;
    overflow: hidden;
    border-radius: 8px;
}

.projectItem>div:last-child img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.linkContainer {
    display: flex;
    align-items: center;
    gap: 24px;
}

.linkItem {
    display: flex;
    flex-direction: row !important;
    align-items: center;
    gap: 14px !important;
    color: var(--primary-color);
    text-decoration: none;
    cursor: pointer;
}

.linkItem:hover {
    opacity: 0.7;
}

.linkItem p {
    font-size: 0.9em;
}

@media (min-width: 640px) {
    .statsContainer {
        flex-direction: row;
    }

    .stats {
        gap: 0px;
    }

    .aboutMe {
        width: 95%;
        margin-right: auto;
    }
}

@media (max-width: 640px) {
    .stats {
        gap: 10px;
    }

    .stats div p {
        font-size: 14px;
    }

    .projectContainer {
        flex-direction: column;
    }

    .projectItem {
        flex-direction: column;
    }

    .projectItem>div:last-child {
        max-width: 80%;
        aspect-ratio: 16/9;
    }
}

@media (max-width: 640px) {
    .nameContainer {
        gap: 10px;
        line-height: 1.5em;
    }

    .right {
        gap: 8px;
    }

    .right>a {
        height: 35px;
        width: 35px;
        padding: 10px;
    }

    .aboutMe {
        line-height: 1.5em;
        font-size: 14px;
    }

    .right>a>img {
        height: 25px;
    }

    .long-icon {
        height: 40px;
    }
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 40px;
    right: 60px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: var(--link-bgcolor);
    padding: 5px;
    border-radius: 100%;
    cursor: pointer;
    transition: all 200ms;
}

#myBtn:hover {
    background-color: var(--link-bgcolor-hover);
}

#myBtn>img {
    height: 50px;
}

@media (max-width: 750px) {
    #myBtn {
        bottom: 20px;
        right: 20px;
    }

    #myBtn>img {
        height: 30px;
    }
}

@media (max-width: 500px) {
    #myBtn {
        bottom: 15px;
        right: 15px;
    }

    #myBtn>img {
        height: 25px;
    }
}

.aboutSection {
    color: #dde1e7;
    line-height: 1.75em;
    letter-spacing: -.3px;
    display: flex;
    flex-direction: column;
    display: inline-block;
}

.aboutSection p {
    margin-bottom: 10px;
}

.aboutSection h1 {
    color: white;
    margin-bottom: 25px;
}

.aboutSection a {
    font-size: inherit;
}

.aboutSection h2 {
    color: white;
    font-size: 21px;
    margin-top: 12px;
    margin-bottom: 10px;
    letter-spacing: 1.9px;
    font-weight: 400;
}

#link-arrow {
    height: 15px;
}

ul {
    padding-left: 40px;
}

.large {
    letter-spacing: 1.5px;
    font-size: 18px;
    font-weight: 500;
}

li {
    margin-bottom: 7px;
}

.userManualSection {
    color: #dde1e7;
    line-height: 1.75em;
    letter-spacing: .7px;
}

.userManualSection h1 {
    color: white;
    margin-bottom: 25px;
}

.userManualSection a {
    font-size: inherit;
}

.userManualSection h2 {
    color: white;
    font-size: 21px;
    margin-top: 5px;
    margin-bottom: 10px;
    letter-spacing: 1.6px;
    font-weight: 400;
}

.quote {
    padding: 12px;
    padding-left: 50px;
    border-left: 6px solid steelblue;
    background-color: #17181e;
    margin-bottom: 8px;
}

.quoteright > em{
    display: flex;
    justify-content: end;
    letter-spacing: 3px;
    font-size: 12px;
}

.icon{
    border: none;
    height: 27px;
    margin-right: 3px;
}