.chip {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 4px 8px;
    color: white;
    background-color: gray;
    border-radius: 50px;
    width: fit-content;
    font-size: 14px;
    margin-bottom: 3px;
}

.chip svg {
    height: 12px;
    width: 14px;
}